       <!-- Main content -->
        <section class="content">
          <%= render 'stores_table' %>
        </section><!-- /.content -->

<br>

    <%= link_to 'Nueva tienda', new_admin_store_path ,class:"visible-xs btn btn-block btn-primary btn-lg"%>
    <%= link_to 'Nueva tienda', new_admin_store_path ,class:"hidden-xs btn btn-primary "%>
