       <!-- Main content -->
        <section class="content">
          <%= render 'promotions_table' %>
        </section><!-- /.content -->

<br>

    <%= link_to 'Nueva Promoción', new_admin_promotion_path ,class:"visible-xs btn btn-block btn-primary btn-lg"%>
    <%= link_to 'Nueva Promoción', new_admin_promotion_path ,class:"hidden-xs btn btn-primary "%>
