<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @commerce.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @commerce.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @commerce.description %>
</p>

